<p id="notice"><%= notice %></p>

<div>
  <p><%= @image.name.humanize %></p>
  <%=image_tag @image.image.url %>
</div><br />


<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
